localhost, devops-example.test, my-test-serverr.pro, 209.38.175.68 {
	tls internal

	handle /images/* {
		file_server
		root * /app/public
	}

	handle {
		reverse_proxy app:3000
	}

	log {
		# format single_field common_log
	}
}
